.error{
    color: red;
}


.main{
    margin-top: 10px;
    margin-left: 170px;
    margin-right: 15px;
    /* overflow-y: auto; */
    /* overflow-x: auto; */
}

.auth-box{
    /* margin-left: auto; */
    margin-right: 170px;
}
