.navBar{
    height: 45px;
    background-color: blueviolet;
    margin-left: 15px;
    margin-right:15px;
    position: sticky;
    top:17px;
    z-index: 100;
}

.navList{
    list-style-type: none;
}

.navItem a{
    float: left;
    padding: 10px;
    color:white
}
.navItem a:hover{
    color:orange;
    cursor: pointer;
    text-decoration: none;
}

.navItem a:active{
    font-weight:bold;
}

.selected{
    background-color: dodgerblue;
}

.logout{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

.user-info{
    float: right;
    margin-top:10px;
    margin-right:5px;
    font-weight:bold;
}
