.message-box{
    height: 500px;
    border: 1px solid brown;
    border-radius: 5%;
    overflow-y: auto;
}


.input-message{ 
    display: inline-block;
    width: 80%;
    margin-right: 20px;
}


.reply-msg{
    height:    110px;
    background-color: beige;
    border-radius: 10%;
    margin: 10px;
}
