

.sidebar {
    width: 150px;
    background-color: blueviolet;
    height: 100%;
    position: fixed;
    left: 15px;
}

.sidebar a{
    color: white;
    display: inline-block;
    padding: 10px;
}

.sidebar a:hover{
    color:orange;
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:active{
    font-weight:bold;
}

.sidebar-selected{
    background-color: dodgerblue;
    width: 150px;

}
